@reference "../index.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.btnb {
  @apply
    p-2
    rounded-md
    border-2
    text-base
    cursor-pointer
    transition-colors
    duration-150;
  outline: 0;
}

.btn-default {
  @apply
    bg-teal-100
    border-teal-400
    hover:border-teal-600
    hover:bg-teal-50
    focus:border-teal-600
    focus:bg-teal-50
    focus:outline-teal-500
    focus:outline-2;
}

.btn-action {
  @apply
    bg-green-300
    border-green-600
    hover:border-green-800
    hover:bg-green-100
    focus:border-green-800
    focus:bg-green-100
    focus:outline-green-500
    focus:outline-2
    disabled:bg-slate-200
    disabled:border-slate-400
    disabled:cursor-not-allowed;
}

.btn-cancel {
  @apply
    bg-red-300
    border-2
    border-red-400
    hover:border-red-500
    hover:bg-red-200
    focus:border-red-600
    focus:bg-red-200
    focus:outline-red-500
    focus:outline-2
}

.btn-link {
  @apply
    p-0
    bg-transparent
    text-xs
    border-none
    rounded-full
    outline-rose-600
    cursor-pointer
    transition-colors
    hover:bg-rose-600
    hover:text-white
    hover:outline-10
    hover:outline-rose-600
    hover:border-none;
}

.text-input {
  @apply
    p-2
    bg-white
    border-2
    rounded-md
    border-gray-300
    hover:border-green-300
    focus:border-cyan-300
    focus:outline-cyan-500
    focus:outline-2
    focus:outline-offset-1;

}

.text-label {
  @apply
    text-gray-700
    text-sm
    italic;

}
